SECRET_KEY=django-insecure-canviala-en-produccio
DEBUG=True
STORAGE_BACKEND=local

DB_NAME=taiga_clone
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

CSRF_TRUSTED_ORIGINS=https://*.onrender.com,http://localhost:8000,http://127.0.0.1:8000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=eu-west-1